<head>
<title>Sokoban</title>
<!-- todo>
1. username
2. movement
3. finger swipe
</todo -->
</head>

<body>
Level: <span id='level'></span>
Best: <span id='best'></span>
Step: <span id='step'></span>
<font id='font' face='Courier New' size=3><div id="boardArea"></div>
</font>
<div id='message'></div>
</body>

<script>
const board = 
  { "level": 1,
    "best": 0,
    "board": "  HHH\n  HDH\n  H HHHH\nHHHB BDH\nHD BW HH\nHHHHBHH\n   HDH\n   HHH\n" };
</script>

<script src=/static/sokoban.js></script>
