<html>
<head>
<meta charset="utf-8" />
<title>Sokoban</title>
</head>

<body>
<table>
<tr><td> <B>Level:</B> <span id='level'></span></td>
    <td><B>Best:</B> <span id='best'>{{best}}</span>
</td></tr>
<tr><td>
<B>Username:</B> <span id='username'></span></td>
<td><B>Step:</B> <span id='step'></span>
</td></tr>
</table>

<font id='font' face='Courier New' size=5><div id="boardArea"></div>
</font>
<div id='message'></div>

<form action='/record-and-next' method=post>
<input type=submit value='Next' id='next'>
<input type=hidden name='level' value={{level}}>
<input type=hidden name='username' id='inputUsername'>
<input type=hidden name='steps' id='inputSteps'>
</form>

<form>
<input type=submit value='Previous'>
<input type=hidden name='level' value={{level-1}}>
</form>

<button id='editUsername'>Username</button>

</body>

<script>
const board = 
  { "level": {{level}},
    "best": 0,
    "board": `{{board}}` };
</script>

<script src=/static/sokoban.js></script>
</html>
