<html>
<head>
<meta charset="utf-8" />
<title>Sokoban 倉庫番</title>
</head>

<body>
<table>
<tr><td> <B>Level:</B> <span id='level'></span></td>
    <td><B>Best:</B> <span id='best'>{{best}}</span>
</td></tr>
<tr><td>
<B>Username:</B> <span id='username'></span></td>
<td><B>Step:</B> <span id='step'></span>
</td></tr>
</table>

<div id="boardArea"></div>
<div id='message'></div>

<form action='/record-and-next' method=post>
<input type=submit value='Next' id='next'>
<!-- REMARK>Size: <button onClick='larger()'>+</button> <button onClick='smaller()'>-</button></REMARK -->
<input type=hidden name='level' value={{level}}>
<input type=hidden name='username' id='inputUsername'>
<input type=hidden name='steps' id='inputSteps'>
</form>

<form>
<input type=submit value='Previous'>
<input type=hidden name='level' value={{level-1}}>
</form>

<button id='editUsername'>Username</button>

<div hidden>Pre-fetch some image files in this division.
<img src=/static/wall.bmp>
<img src=/static/blank.bmp>
<img src=/static/arrival.bmp>
<img src=/static/worker_at_dest.bmp>
</div>
</body>

<script>
const board = 
  { "level": {{level}},
    "best": 0,
    "board": `{{board}}` };

function larger() {
    let scale = Number(document.body.style.zoom);
    if (scale == 0)
        scale = 1;
    scale += 1;
    document.body.style.zoom = scale;
}

function smaller() {
    let scale = Number(document.body.style.zoom);
    scale -= 1;
    document.body.style.zoom = scale;
}

</script>


<script src=/static/sokoban.js></script>
</html>
